div(tg-fas-openid-login-button)
    a.button.button-auth(href="", title="Enter with your FAS account")
        img(src="/plugins/fas-openid-auth/images/contrib/fedora-logo.png")
        span Login with FAS
