|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/fas_openid_auth', '''
div(tg-fas-openid-login-button)
    a.button.button-auth(href="", title="Enter with your FAS account")
        img(src="/images/contrib/fedora-logo.png")
        span Login with FAS
|''')]);
